</div>
<footer>
    <div id="sponsors">
        <div id="hpll" class="footer-logo footer-logo-box">
            <a href="http://highpointlowlife.com" target="_blank">
                <img src="/imagez/hpll_logo.png" alt="Highpoint Lowlife logo">
            </a>
        </div>
        <div id="grayarea" class="footer-logo footer-logo-box">
            <a href="https://grayarea.org/" target="_blank">
                <img src="/imagez/gray_area_logo.png" alt="Gray Area">
            </a>
        </div>
        <div id="bff" class="footer-logo footer-logo-box">
            <a href="https://bff.fm" target="_blank">
                <img src="/imagez/bff-logo.png" alt="BFF.fm">
            </a>
        </div>
    </div>
</footer>
</body>
</html>
