* { box-sizing: border-box;}

body#scroller {min-height: 100vh;
}

section {
	--h: calc(var(--i) * 30);
	min-height: 100vh;
	padding: 8rem 1rem max(5vh, 2rem) 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(var(--h, 0) 75% 60%);
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}

nav li {
	list-style: none;
}

.section__heading {
	font-size: clamp(2rem, 12vmin, 7rem);
	line-height: 1;
	letter-spacing: -0.06em;
}